@import '../../utils/mixins';

.missions {
  margin-top: $headerHeight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - $headerHeight);

  &_list {
    width: 100%;
    list-style-type: none;
    @include SidePaddings;
    margin: 100px auto;

    &_item {
      &_name {
        margin: 0;
        text-transform: uppercase;
        font-family: $mainFont;
        font-size: 60px;
        cursor: pointer;

        &--active {
          color: $color2;
        }

        &--inactive {
          color: $colorDarkGrey;
        }

        &:hover {
          color: $color2;
        }

        @media only screen and (max-width: $mobileMaxWidth) {
          font-size: clamp(2rem, 8vw, 120px);
        }
      }

      &_container {
        height: auto;
        overflow: hidden;

        &--opened {
          animation: openCollapse 2s ease forwards;
        }

        &--closed {
            display: none;
        }

        &_text {
          font-family: $mainFont;
          text-align: justify;
          font-size: $fontSize4;

          @media only screen and (max-width: $mobileMaxWidth) {
            font-size: $fontSize5;
          }
        }

        &_innerList {
          list-style-type: none;
          padding: 20px 0 0 40px;
          margin-bottom: 50px;
          font-size: $fontSize4;

          @media only screen and (max-width: $mobileMaxWidth) {
            font-size: $fontSize5;
          }

          &_innerItem {
            &_text {
              font-family: $mainFont;
              font-style: italic;
            }
          }
        }
      }
    }
  }

  &_logos {
    position: fixed;
    bottom: 0;
    background-color: $colorLightGrey;
    padding: 30px 0 40px 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 40px;
    width: 100vw;
    margin: auto;

    img {
      height: 50px;
    }
  }
}
