@import '../../utils/mixins';

.projects {
    width: 100vw;
    margin: $minimalSpace 0;

    h2 {
        @include h1Text;

        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    &_descriptionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: $minimalSpace;

        width: 50%;
        margin: 0 auto $minimalSpace;

        &_description {
            @include mainText;

            display: flex;
            justify-content: center;
        }

        &_buttonContainer {
            display: flex;
            justify-content: flex-end;
            margin: calc($minimalSpace / 2);
        }
    }

    &_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
        margin: 0;
        padding: 0;

        list-style: none;

        &_item {
            width: 100%;

            a {
                display: block;
                width: 100%;
                text-decoration: none;
            }

            &_figure {
                width: 100%;
                margin: 0;

                img {
                    display: block;

                    box-sizing: border-box;
                    width: 100%;
                    aspect-ratio: 1;

                    object-fit: cover;
                    filter: saturate(0);
                    transition: filter 0.4s ease;
                }

                figcaption {
                    display: block;
                    background-color: $colorDarkGrey;
                    transition: background-color 0.3s ease;

                    h3 {
                        @include h1Text;

                        margin: 0;
                        padding: 12px calc($minimalSpace / 2);

                        text-transform: uppercase;
                        color: $colorLightGrey;
                        transition: color 0.3s ease;
                    }
                }
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    img {
                        filter: saturate(1);
                    }

                    figcaption {
                        background-color: $colorLightGrey;

                        h3 {
                            color: $colorDarkGrey;
                        }
                    }
                }
            }
        }
    }

    &_lastButtonContainer {
        display: flex;
        justify-content: center;
        box-sizing: border-box;

        width: 100%;
        
        margin: calc($minimalSpace) auto ;
    }
}