@import '../../utils/mixins';

.allProjects {
    box-sizing: border-box;
    width: 100%;
    margin-top: $headerHeight;
    padding: calc(2 * $minimalSpace) $minimalSpace;

    &_filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 1.5rem;
        row-gap: 12px;

        margin: 0 auto calc(2 * $minimalSpace);

        &_item {
            position: relative;
            border: none;
            border-radius: 4px;
            background: none;
            padding: 6px 10px;

            font-family: $mainFont;
            font-size: $fontSize5;
            color: $colorDarkGrey;

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 50%;
                right: calc(-1.5rem / 2 - 3px);
                transform: translateY(-50%);

                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $colorDarkGrey;
            }

            &:hover {
                cursor: pointer;
                background-color: $colorDarkGrey;
                color: $colorLightGrey;
            }

            &--active {
                background-color: $colorDarkGrey;
                color: $colorLightGrey;
            }
        }
    }

    &_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
        margin: 0;
        padding: 0;

        list-style: none;

        &_item {
            width: 100%;

            a {
                display: block;
                width: 100%;
                text-decoration: none;
            }

            &_figure {
                width: 100%;
                margin: 0;

                img {
                    display: block;

                    box-sizing: border-box;
                    width: 100%;
                    aspect-ratio: 1;

                    object-fit: cover;
                    filter: saturate(0);
                    transition: filter 0.4s ease;
                }

                figcaption {
                    display: block;
                    background-color: $colorDarkGrey;
                    transition: background-color 0.3s ease;

                    h3 {
                        @include h1Text;

                        margin: 0;
                        padding: 12px calc($minimalSpace / 2);

                        text-transform: uppercase;
                        color: $colorLightGrey;
                        transition: color 0.3s ease;
                    }
                }
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    img {
                        filter: saturate(1);
                    }

                    figcaption {
                        background-color: $colorLightGrey;

                        h3 {
                            color: $colorDarkGrey;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .allProjects {
        &_list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 768px) {
    .allProjects {
        padding: $minimalSpace calc($minimalSpace / 2);

        &_filters {
            margin-bottom: $minimalSpace;
        }

        &_list {
            grid-template-columns: 1fr;
        }
    }
}
