@import '../../utils/mixins';

.tripsGrid {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    gap: 4px;
    margin: auto;

    li {
        aspect-ratio: 1;
    }
    
    &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: appear 1s ease forwards;
    }
}