@import '../../utils/mixins';

.header {

    z-index: 1;
    width: 100vw;

    &--fixed {
        position: fixed;
        top: 0;
        width: 100vw;
    }

    &_topBar {
        z-index: 3;
        @include Row;
        justify-content: space-between;
        height: 180px;
        @include SidePaddings;
        background-color: $colorLightGrey;
        &_link {
                @include Column;
                justify-content: center;
            img {
                height: 100px;
                object-fit: cover;
            }
        }

        button {
            @include Column;
            border: none;
            background: none;
            color: $colorDarkGrey;
            justify-content: center;
            svg {
                animation: apparition 2s ease forwards;
                height: 33px;
                margin : 0 auto;
                &:hover {
                    color: $color1;
                    cursor: pointer;
                }
            }
            
        }
    }
}