@import '../../utils/mixins';

.header {

    z-index: 1;
    width: 100vw;

    &--fixed {
        z-index: 1;
        position: fixed;
        top: 0;
        width: 100vw;
    }

    &_topBar {
        z-index: 1;
        @include Row;
        justify-content: space-between;
        height: $headerHeight;
        @include SidePaddings;
        background-color: $colorLightGrey;
        &_link {
                height: 100%;
                @include Column;
                justify-content: center;
                vertical-align: middle;
            img {
                height: 85px;
                object-fit: cover;
            }
        }

        button {
            @include Column;
            border: none;
            background: none;
            color: $colorDarkGrey;
            justify-content: center;
            svg {
                animation: apparition 2s ease forwards;
                height: 33px;
                margin : 0 auto;
                &:hover {
                    color: $color1;
                    cursor: pointer;
                }
            }
        }
    }
}