@import '../../utils/mixins';

.header {

    z-index: 1;
    width: 100vw;

    &--fixed {
        z-index: 1;
        position: fixed;
        top: 0;
        width: 100vw;
    }

    &_topBar {
        z-index: 1;
        @include Row;
        justify-content: space-between;
        height: $headerHeight;
        @include SidePaddings;
        background-color: $colorLightGrey;
        &_leftElements{
            display: flex;
            flex-direction: row;
            column-gap: 50px;

            &_link {
                    height: 100%;
                    @include Column;
                    justify-content: center;
                    vertical-align: middle;
                img {
                    height: 85px;
                    object-fit: cover;
                }
            }

            &_location {
                margin: auto;
                text-transform: uppercase;
                font-family: $mainFont;
                font-weight: normal;
                font-size: $fontSize4;
            }
        }

        &_menu {
            list-style-type: none;
            @include Row;
            width: auto;
            // column-gap: 10%;
            justify-content: flex-end;
            padding: 0;
            &_item {
                margin: auto 0;
                width: auto;
                padding-left: 70px;
                &_title {
                    font-family: $mainFont;
                    font-size: $fontSize4;
                    text-transform: uppercase;
                    &--bold {
                        font-weight: bold;
                        color: $colorDarkGrey;
                    }
                    &--regular {
                        font-weight: lighter;
                        color: $color1;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }

                &_link {
                    text-decoration: none;
                }
            }
        }

        button {
            @include Column;
            border: none;
            background: none;
            color: $colorDarkGrey;
            justify-content: right;
            svg {
                animation: apparition 2s ease forwards;
                height: 22px;
                margin : 0 auto;
                &:hover {
                    color: $color1;
                    cursor: pointer;
                }
            }
        }
    }
}