@import '../../utils/mixins';

.edit {
    margin-top: calc($headerHeight + 100px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: calc(100vh - $headerHeight - 100px);

    @media only screen and (max-width: $mobileMaxWidth) {
        flex-direction: column;
    }

    &_sidebar {
        width: 25%;
        flex-shrink: 0;
        position: sticky;
        top: calc($headerHeight + 20px);
        border-right: 1px solid $colorLightGrey;

        @media only screen and (max-width: $mobileMaxWidth) {
            width: 100%;
            position: static;
            border-right: none;
            border-bottom: 1px solid $colorLightGrey;
        }

        &_list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            @include Column;

            &_button {
                width: 100%;
                text-align: left;
                padding: 25px calc($minimalSpace / 2);
                border: none;
                background: none;
                font-family: $mainFont;
                font-size: $fontSize4;
                color: $colorDarkGrey;
                box-sizing: border-box;

                &:hover {
                    cursor: pointer;
                    background-color: $colorLightGrey;
                }

                &--active {
                    background-color: $colorLightGrey;
                    font-weight: bold;
                }
            }
        }
    }

    &_content {
        width: 75%;
        @include SidePaddings;

        @media only screen and (max-width: $mobileMaxWidth) {
            width: 100%;
        }

        &_section {
            width: 100%;

            &_title {
                @include mainText;
                @include fontSize2;
                margin: 50px 0;
            }

            &_addButton {
                @include Row;
                justify-content: center;
                margin: 100px auto;
                border: none;
                font-family: $mainFont;
                font-size: $fontSize3;
                background: none;
                &:hover {
                    color: $color1;
                    cursor: pointer;
                }
            }

            &_maxReached {
                text-align: center;
                margin: 50px auto;
                font-family: $mainFont;
                font-size: $fontSize4;
                color: $color1;
            }

            &_helperText {
                margin: 0 0 30px;
                font-family: $mainFont;
                font-size: $fontSize5;
                color: $color1;
            }
        }
    }
}
