@import '../../utils/mixins';

.edit {
    margin-top: calc($headerHeight + 100px);
    
    &_projectsListContainer, &_articlesListContainer, &_drawingsListContainer, &_reassuranceItemsListContainer {
        width: 100%;
        height: auto;
        @include SidePaddings;
        z-index: 1;
        &_addButton {
            @include Row;
            justify-content: center;
            margin: 100px auto;
            border: none;
            font-family: $mainFont;
            font-size: $fontSize3;
            background: none;
            &:hover {
                color: $color1;
                cursor: pointer;
            }
        }
        &_maxReached {
            text-align: center;
            margin: 50px auto;
            font-family: $mainFont;
            font-size: $fontSize4;
            color: $color1;
        }
    }
}