@import '../../utils/mixins';

.captionBox {

  position: relative;
  @include Column;
  animation: apparition 0.3s ease forwards;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: $colorLightTransparentGrey;
  align-items: center;
  justify-content: center;
  overflow-y: auto;

  &_container {
    @include Row;
    animation: slideCaptionBoxFromLeft 0.3s ease forwards;
    position: relative;
    width: 1300px;
    max-height: 80%;
    margin: auto;
    padding-top: 45px;
    background-color: white;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    column-gap: 45px;
    row-gap: 16px;
    overflow: scroll;

    &_closeButton {
      position: absolute;
      top: 30px;
      right: 45px;
      z-index: 2;

      &:hover {
        cursor: pointer;
        color: $color1;
      }
    }
  }
}
