@import '../../utils/mixins';

.formRichtextField {
    width: 40%;
    margin: 45px auto;
    @include Column;
    row-gap: 22px;
    justify-content: center;

    label {
        @include Row;
        width: 200px;
        font-family: $mainFont;
        font-size: $fontSize5;
        margin : auto;
    }

    input {
        @include Row;
        padding: 0;
        border: none;
        background-color: $colorLightGrey;
        font-family: $mainFont;
        font-size: $fontSize5;
    }
}