@import '../../utils/mixins';

.formRichtextField {
    width: 800px;
    margin: 45px auto;
    @include Column;
    row-gap: 22px;
    justify-content: center;

    label {
        
        font-family: $mainFont;
        font-size: $fontSize3;
        margin : 50px auto 25px auto;
        font-weight: bold;
    }

    input {
        @include Row;
        padding: 0;
        border: none;
        background-color: $colorLightGrey;
        font-family: $mainFont;
        font-size: $fontSize5;
    }
}