/*-------------------
----- VARIABLES -----
-------------------*/

$mainFont: 'Carme', sans-serif;

$colorLightGrey: rgb(233, 233, 233);
$colorLightTransparentGrey: rgba(233, 233, 233, 0.8);
$colorDarkGrey: rgb(68, 68, 68);
$color1: rgb(134, 134, 134);
$color2: rgb(103, 103, 103);

$mobileMaxWidth: 768px;
$padMinWidth: 769px;
$padMaxWidth: 991px;

$fontSize1: 35px;
$fontSize2: 30px;
$fontSize3: 22px;
$fontSize4: 17px;
$fontSize5: 15px;

$fontSize1Pad: 30px;
$fontSize2Pad: 26px;
$fontSize3Pad: 20px;
$fontSize4Pad: 16px;
$fontSize5Pad: 14px;

$fontSize1Mobile: 26px;
$fontSize2Mobile: 23px;
$fontSize3Mobile: 19px;
$fontSize4Mobile: 15px;
$fontSize5Mobile: 14px;

$minimalSpace: 45px;

@mixin fontSize1 {
    font-size: $fontSize1;

    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth) {
        font-size: $fontSize1Pad;
    }

    @media only screen and (max-width: $mobileMaxWidth) {
        font-size: $fontSize1Mobile;
    }
}

@mixin fontSize2 {
    font-size: $fontSize2;

    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth) {
        font-size: $fontSize2Pad;
    }

    @media only screen and (max-width: $mobileMaxWidth) {
        font-size: $fontSize2Mobile;
    }
}

@mixin fontSize3 {
    font-size: $fontSize3;

    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth) {
        font-size: $fontSize3Pad;
    }

    @media only screen and (max-width: $mobileMaxWidth) {
        font-size: $fontSize3Mobile;
    }
}

@mixin fontSize4 {
    font-size: $fontSize4;

    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth) {
        font-size: $fontSize4Pad;
    }

    @media only screen and (max-width: $mobileMaxWidth) {
        font-size: $fontSize4Mobile;
    }
}

@mixin fontSize5 {
    font-size: $fontSize5;

    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth) {
        font-size: $fontSize5Pad;
    }

    @media only screen and (max-width: $mobileMaxWidth) {
        font-size: $fontSize5Mobile;
    }
}

$headerHeight: 100px;

@mixin Column {
    display: flex;
    flex-direction: column;
}

@mixin Row {
    display: flex;
    flex-direction: row;
}

@mixin SidePaddings {
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
}

@mixin CaptionBoxCommons {
    margin: auto;
    @include AllOverPaddings;

    h4  {
        font-family: $mainFont;
        font-size: $fontSize2;
    }

    h5 {
        font-family: $mainFont;
        font-size: $fontSize3;
        margin: 20px 0 0 0;
    }

    h6 {
        font-family: $mainFont;
        font-size: $fontSize4;
        margin : 0;
    }

    p {
        text-align: justify;
        font-family: $mainFont;
        font-size: $fontSize4
    }

    ul {
        list-style-type: none;
        font-family: $mainFont;
        font-size: $fontSize4;
        padding: 0;
        @include Column;
        row-gap: 10px;

        li {
            img {
                object-fit: cover;
                width:400px;
                height:200px;
            }
        }
    }
    
    a {
        font-family: $mainFont;
        font-size: $fontSize4;
        text-decoration: none;
        color: $colorDarkGrey;

        &:hover {
            color: $color2;
        }
    }
}

@mixin AllOverPaddings {
    padding: 100px;
    box-sizing: border-box;
}

@mixin ModalBase {
    z-index: 1;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.8);
}

@mixin h1Text {
    font-family: $mainFont;
    color: $colorDarkGrey;
    @include fontSize2;
}
@mixin h2Text {
    font-family: $mainFont;
    color: $colorDarkGrey;
    @include fontSize3;
}
@mixin h3Text {
    font-family: $mainFont;
    color: $colorDarkGrey;
    @include fontSize1;
}

@mixin mainText {
    font-family: $mainFont;
    color: $colorDarkGrey;
    text-align: justify;
}

@media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){

}

@media only screen and (max-width:$mobileMaxWidth){
    
}  


@keyframes closeWelcomeLogo {

    0% {  
        top: 0;
    }
    70% {  
        top: 0;
    }

    100% { 
        top: -100vh;
    }
    
}

@keyframes apparition {

    0% {  
        opacity: 0;
    }
    100% {  
        opacity: 1;
    }
}

@keyframes slideFromRight {

    0% {  
        max-width: 0%;
    }
    100% {  
        max-width: 50%;
    }
}

@keyframes slideToRight {

    0% {  
        max-width: 50%;
    }
    100% {  
        max-width: 0%;
    }
}
@keyframes slideFromLeft {

    0% {  
        max-width: 0%;
    }
    100% {  
        max-width: 50%;
    }
}

@keyframes slideFromLeftPad {

    0% {  
        max-width: 0%;
    }
    100% {  
        max-width: 63%;
    }
}

@keyframes slideCaptionBoxFromLeft {

    0% {  
        max-width: 0%;
    }
    100% {  
        max-width: 100%;
    }
}

@keyframes slideToLeft {

    0% {  
        max-width: 50%;
    }
    100% {  
        max-width: 0%;
    }
}

@keyframes slideToLeftPad {

    0% {  
        max-width: 63%;
    }
    100% {  
        max-width: 0%;
    }
}


@keyframes rotateOnHover {
    0% {
        transform: rotate(0);
    }
    100% {  
        transform: rotate(3deg);
    }
}

@keyframes openCollapse {
    0% {
        opacity: 0%;
        max-height: 0px;
    }
    100% {  
        opacity: 100%;
        max-height: 500px;
    }
}

@keyframes closeCollapse {
    0% {  
        opacity: 100%;
        max-height: 500px;
    }
    100% {
        opacity: 0%;
        max-height: 0px;
    }
}

@keyframes decal {
    0% {
        padding-top: 0px
    }
    100% {  
        padding-top: 100px
    }
}

@keyframes appear {
    0% {
        opacity: 0
    }
    100% {  
        opacity: 1
    }
}

@keyframes openCollapseChildren {
    0% {  
        max-height: 0px;
        opacity: 0; 
    }
    50% { 
        max-height: 10000px;
        opacity: 0;
    }

    100% { 
        max-height: 10000px;
        opacity: 1;
    }
}

@keyframes closeCollapseChildren {
    0% {  
        max-height: 10000px;
        opacity: 1;
    }
    50% {  
        max-height: 10000px;
        opacity: 0;
    }

    100% { 
        max-height: 0px;
        opacity: 0;
    }
}

@keyframes rotateCollapseIcon {
    from {
        transform: rotate(0deg);
      }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotateInvertCollapseIcon {
    from {
        transform: rotate(180deg);
      }
    to {
        transform: rotate(0deg);
    }
}

@keyframes openArticle {
    from {
        left: 100vw;
      }
    to {
        left: 0;
    }
}
@keyframes closeArticle {
    from {
        left: 0;
      }
    to {
        left: 100vw;
    }
}


