@import '../../utils/mixins';

.singleProject {

    &_datasContainer {
        background-color: $colorLightGrey;
        @include Column;
        height: auto;
        justify-content: space-between;

        &_title  {
            width: auto;
            @include Column;
            justify-content: center;
            margin: auto;
            font-size: 200px;
            font-family: $mainFont;
            text-align: center;
        }   

        &_datasBox {
            margin: 2% 0;
            width: 100%;
            @include SidePaddings;
            @include Row;
            height: auto;
            
            &_maindatas {
                width: 50%;
                @include Column;
                justify-content: flex-start;
                color: $colorDarkGrey;
                font-family: $mainFont;
                &_type, &_date, &_state, &_price, &_surface  {
                    margin: 0;
                }
            }

            &_description {
                width: 50%;
                @include Column;
                justify-content: flex-start;
                color: $colorDarkGrey;
                font-family: $mainFont;
                font-size: $fontSize4;
                text-align: justify;
            }
        }

        &_sketchesBox {
            @include SidePaddings;
            display: flex;
            justify-content: center;
            margin: 10% auto;
            width: 60%;
            height: 100%;

            &_grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 20px;

                &_image {
                    margin: auto;
                    // aspect-ratio: 1;
                    height: 200px;
                    object-fit: contain;

                    &_png {
                        background: none;
                    }
                    &_other {
                        width: 100%;
                        background-color: white;
                        padding: 5%;
                        box-sizing: border-box;
                    }

                    &_0 {
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-start: 2;
                    }
                    &_1 {      
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 1;
                        grid-row-start: 2;
                    }
                    &_2 {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 2;
                        grid-row-start: 3;
                    }

                    &_3 {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 2;
                        grid-row-start: 3;
                    }

                    &_4 {
                        grid-column-start: 3;
                        grid-column-end: 4;
                        grid-row-start: 2;
                        grid-row-start: 3;
                    }
                    &_5 {
                        grid-column-start: 4;
                        grid-column-end: 5;
                        grid-row-start: 2;
                        grid-row-start: 3;
                    }
                    &_6 {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 3;
                        grid-row-start: 5;
                    }
                    &_7 {
                        grid-column-start: 2;
                        grid-column-end: 4;
                        grid-row-start: 3;
                        grid-row-start: 4;
                    }
                }
            }
        }
        
        &_imagesWowColumn {
            
            width: 100%;
            &_image {
                width: 100%;
                object-fit: cover;
            }
            &_column {
                position: relative;
                // bottom: 70px;
                width: 100%;
                @include Column;
                row-gap: 5px;
                justify-content: center;
                margin: auto;

                &_icon {
                    vertical-align: middle;
                    margin: auto 10px;
                    color: $colorDarkGrey;
                    &:hover {
                        color: $color1;
                        cursor: pointer;
                    }
                }
                &_indexBar {
                    font-size: 30px;
                    font-family: $mainFont;
                    padding: 0;
                    margin: auto 2px;
                    color: $colorDarkGrey;
                    &--bold {
                        font-size: 40px;
                    }
                }
            }
        }  
    }
}