/*-------------------
----- VARIABLES -----
-------------------*/
@-webkit-keyframes closeWelcomeLogo {
  0% {
    top: 0;
  }
  70% {
    top: 0;
  }
  100% {
    top: -100vh;
  }
}
@keyframes closeWelcomeLogo {
  0% {
    top: 0;
  }
  70% {
    top: 0;
  }
  100% {
    top: -100vh;
  }
}
@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 50%;
  }
}
@keyframes slideFromRight {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 50%;
  }
}
@-webkit-keyframes slideToRight {
  0% {
    max-width: 50%;
  }
  100% {
    max-width: 0%;
  }
}
@keyframes slideToRight {
  0% {
    max-width: 50%;
  }
  100% {
    max-width: 0%;
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 50%;
  }
}
@keyframes slideFromLeft {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 50%;
  }
}
@-webkit-keyframes slideFromLeftPad {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 63%;
  }
}
@keyframes slideFromLeftPad {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 63%;
  }
}
@-webkit-keyframes slideCaptionBoxFromLeft {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 100%;
  }
}
@keyframes slideCaptionBoxFromLeft {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 100%;
  }
}
@-webkit-keyframes slideToLeft {
  0% {
    max-width: 50%;
  }
  100% {
    max-width: 0%;
  }
}
@keyframes slideToLeft {
  0% {
    max-width: 50%;
  }
  100% {
    max-width: 0%;
  }
}
@-webkit-keyframes slideToLeftPad {
  0% {
    max-width: 63%;
  }
  100% {
    max-width: 0%;
  }
}
@keyframes slideToLeftPad {
  0% {
    max-width: 63%;
  }
  100% {
    max-width: 0%;
  }
}
@-webkit-keyframes rotateOnHover {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(3deg);
  }
}
@keyframes rotateOnHover {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(3deg);
  }
}
@-webkit-keyframes openCollapse {
  0% {
    opacity: 0%;
    max-height: 0px;
  }
  100% {
    opacity: 100%;
    max-height: 500px;
  }
}
@keyframes openCollapse {
  0% {
    opacity: 0%;
    max-height: 0px;
  }
  100% {
    opacity: 100%;
    max-height: 500px;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    opacity: 100%;
    max-height: 500px;
  }
  100% {
    opacity: 0%;
    max-height: 0px;
  }
}
@keyframes closeCollapse {
  0% {
    opacity: 100%;
    max-height: 500px;
  }
  100% {
    opacity: 0%;
    max-height: 0px;
  }
}
@-webkit-keyframes decal {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 100px;
  }
}
@keyframes decal {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 100px;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 10000px;
    opacity: 0;
  }
  100% {
    max-height: 10000px;
    opacity: 1;
  }
}
@keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 10000px;
    opacity: 0;
  }
  100% {
    max-height: 10000px;
    opacity: 1;
  }
}
@-webkit-keyframes closeCollapseChildren {
  0% {
    max-height: 10000px;
    opacity: 1;
  }
  50% {
    max-height: 10000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
@keyframes closeCollapseChildren {
  0% {
    max-height: 10000px;
    opacity: 1;
  }
  50% {
    max-height: 10000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
@-webkit-keyframes rotateCollapseIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotateCollapseIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes rotateInvertCollapseIcon {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotateInvertCollapseIcon {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.singleProject {
  margin-top: 100px;
}
.singleProject_datasContainer {
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.singleProject_datasContainer_datasBox {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
  margin: 2% 0;
  width: 100%;
  min-height: calc(100vh - 250px);
}
.singleProject_datasContainer_datasBox_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: auto;
  font-family: "Carme", sans-serif;
  text-align: justify;
  font-size: clamp(6rem, 10vw, 200px);
}
@media only screen and (max-width: 768px) {
  .singleProject_datasContainer_datasBox_title {
    font-size: clamp(2.5rem, 1vw, 30px);
    margin-top: 20px;
  }
}
.singleProject_datasContainer_datasBox_maindatas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin: 45px 0;
  font-family: "Carme", sans-serif;
  font-size: 17px;
  color: rgb(12, 12, 12);
}
.singleProject_datasContainer_datasBox_maindatas_type, .singleProject_datasContainer_datasBox_maindatas_date, .singleProject_datasContainer_datasBox_maindatas_state, .singleProject_datasContainer_datasBox_maindatas_price, .singleProject_datasContainer_datasBox_maindatas_surface {
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .singleProject_datasContainer_datasBox_maindatas {
    width: 100%;
    font-size: 15px;
  }
}
.singleProject_datasContainer_datasBox_description {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Carme", sans-serif;
  color: rgb(12, 12, 12);
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  .singleProject_datasContainer_datasBox_description {
    justify-content: flex-start;
  }
}
.singleProject_datasContainer_datasBox_description p {
  width: 50%;
  text-align: justify;
  font-size: 17px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .singleProject_datasContainer_datasBox_description p {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .singleProject_datasContainer_datasBox_description p {
    width: 100%;
    font-size: 15px;
  }
}
.singleProject_datasContainer_sketches {
  display: flex;
  flex-direction: row;
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
  justify-content: center;
  -moz-column-gap: 180px;
       column-gap: 180px;
  margin: 100px auto;
  min-height: 100vh;
  width: 100%;
}
.singleProject_datasContainer_sketches_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 800px;
  margin: auto 0;
}
@media only screen and (max-width: 768px) {
  .singleProject_datasContainer_sketches_grid {
    display: flex;
    flex-direction: column;
    max-width: 320px;
  }
}
.singleProject_datasContainer_sketches_grid_image {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 300px;
  width: 100%;
  margin: auto;
}
.singleProject_datasContainer_sketches_grid_image_png, .singleProject_datasContainer_sketches_grid_image_other {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .singleProject_datasContainer_sketches_grid_image_png, .singleProject_datasContainer_sketches_grid_image_other {
    padding: 0;
  }
}
.singleProject_datasContainer_sketches_grid_image_other {
  background-color: white;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
}
.singleProject_datasContainer_sketches_grid_image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 90%;
}
.singleProject_datasContainer_sketches_grid_image img:hover {
  cursor: pointer;
  -webkit-animation: rotateOnHover 0.2s ease forwards;
          animation: rotateOnHover 0.2s ease forwards;
}
.singleProject_datasContainer_sketches_grid_image p {
  font-family: "Carme", sans-serif;
  font-size: 15px;
  font-weight: bold;
  width: 90%;
  margin: 10px 0;
}
.singleProject_datasContainer_sketches_grid_image_0, .singleProject_datasContainer_sketches_grid_image_9, .singleProject_datasContainer_sketches_grid_image_18 {
  grid-column: 1/3;
}
.singleProject_datasContainer_sketches_grid_image_1, .singleProject_datasContainer_sketches_grid_image_10, .singleProject_datasContainer_sketches_grid_image_19 {
  grid-column: 3/4;
}
.singleProject_datasContainer_sketches_grid_image_2, .singleProject_datasContainer_sketches_grid_image_11, .singleProject_datasContainer_sketches_grid_image_20 {
  grid-column: 4/5;
}
.singleProject_datasContainer_sketches_grid_image_3, .singleProject_datasContainer_sketches_grid_image_12, .singleProject_datasContainer_sketches_grid_image_21 {
  grid-column: 1/2;
}
.singleProject_datasContainer_sketches_grid_image_4, .singleProject_datasContainer_sketches_grid_image_13, .singleProject_datasContainer_sketches_grid_image_22 {
  grid-column: 2/3;
}
.singleProject_datasContainer_sketches_grid_image_5, .singleProject_datasContainer_sketches_grid_image_14, .singleProject_datasContainer_sketches_grid_image_23 {
  grid-column: 3/5;
}
.singleProject_datasContainer_sketches_grid_image_6, .singleProject_datasContainer_sketches_grid_image_15, .singleProject_datasContainer_sketches_grid_image_24 {
  grid-column: 1/2;
}
.singleProject_datasContainer_sketches_grid_image_7, .singleProject_datasContainer_sketches_grid_image_16, .singleProject_datasContainer_sketches_grid_image_25 {
  grid-column: 2/4;
}
.singleProject_datasContainer_sketches_grid_image_8, .singleProject_datasContainer_sketches_grid_image_17, .singleProject_datasContainer_sketches_grid_image_26 {
  grid-column: 4/5;
}
.singleProject_datasContainer_sketches_captionsBox {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto 0;
}
.singleProject_datasContainer_sketches_captionsBox_item {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-family: "Carme", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: justify;
}
.singleProject_datasContainer_imagesWowColumn {
  z-index: 0;
  width: 100%;
}
.singleProject_datasContainer_imagesWowColumn_image {
  z-index: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.singleProject_datasContainer_imagesWowColumn_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  width: 80%;
  margin: auto;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .singleProject_datasContainer_imagesWowColumn_column {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
  }
}
.singleProject_datasContainer_imagesWowColumn_column_icon {
  color: rgb(12, 12, 12);
  margin: auto 10px;
  vertical-align: middle;
}
.singleProject_datasContainer_imagesWowColumn_column_icon:hover {
  color: rgb(134, 134, 134);
  cursor: pointer;
}
.singleProject_datasContainer_imagesWowColumn_column_indexBar {
  font-family: "Carme", sans-serif;
  font-size: 30px;
  color: rgb(12, 12, 12);
  margin: auto 2px;
  padding: 0;
}
.singleProject_datasContainer_imagesWowColumn_column_indexBar--bold {
  font-size: 40px;
}/*# sourceMappingURL=SingleProject.css.map */